@import "../../../styles/abstracts/variables";

.text {
  font-family: "Faktum Test";
  color: $primary-color;
  font-weight: 400;
  letter-spacing: -0.025rem;
  font-size: 1.2rem;
  line-height: 1.875rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.statLabel {
    font-size: 1.4rem;
    letter-spacing: -0.04rem;
    text-transform: capitalize;
  }

  &.statValue {
    font-family: "ClashDisplay";
    font-size: 2rem;
    font-weight: 600;
    color: $black;
  }

  &.heading {
    font-size: 1.2rem;
    line-height: 0.875rem;
    font-weight: 700;
    text-transform: capitalize;
  }
}
