@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.switch {
  @include border;
  display: flex;
  height: 14px;
  width: 28px;
  flex-shrink: 0;
  padding: 2px;
  cursor: pointer;
  place-items: center;
  border-radius: $rounded-full;
  transition: justify-content 0.3s ease;

  &[data-state="checked"] {
    background-color: #1c1a1a;
  }

  &_thumb {
    pointer-events: none;
    display: block;
    width: 10px;
    height: 10px;
    background-color: $gray-200;
    border-radius: $rounded-full;
    transition: transform 0.3s;
    will-change: transform;

    &[data-state="checked"] {
      transform: translateX(115%);
    }
  }
}
